
/* LAYOUT */
/* ********** */

/* header */

header {display: flex;
        flex-direction: column;
        background-color: map-get($colores, gris);
    }

/* menu header */

.menu {display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-basis: 80px;}

.logo {justify-self: flex-start;}

.menuPrincipal {display: flex;
justify-content: center;
width: 1200px;

a { width: 90px; 
color: map-get($colores, negro);
}
}

/* main */

.zigzag1 {display: flex;
        flex-direction: row;
        align-items: center;}

.zigzag2 {display: flex;
        flex-direction: row-reverse;
        align-items: center;}

p {padding: 0 20px;}


// /* footer */

// footer {background-color: map-get($colores, azul);

// h5, li {color: white;}

// li {padding-bottom: 5px;}
// }

// ul {padding: 0;} // para eliminar el espacio del ul


// /* menu del footer */

// .arriba {display: flex;
//     flex-direction: row;
//     padding-left: 20px;}

// .redes {flex-grow: 1;}

// .acerca {flex-grow: 4;}

// .terminos {flex-grow: 1;}

// /* copywright */

// .abajo {display:flex;
//         justify-content: center;}



